<div class="row">
  <div class="large-12">
    <h2> <%= @spot.name %> </h2>
    <ul>
      <li>Description: <%= @spot.description %></li>
      <li>Category: <%= @spot.category %></li>
      <li>Address: <%= @spot.address %></li>
      <li>City: <%= @spot.city %></li>
      <li>State: <%= @spot.state %></li>
      <li>Zip Code: <%= @spot.zip_code %></li>
      <li>Website: <%= @spot.website_url %></li>
      <li>Photo: <%= @spot.photo_url %></li>
      <li>Phone: <%= @spot.phone %></li>
    </ul>

    <h2>Reviews!</h2>

    <% @reviews.each do |review| %>
      <ul>
        <li>Rating: <%= review.rating %></li>
        <li>Review: <%= review.body %></li>
        <li><%= link_to "Edit a review", edit_spot_review_path(@spot, review) %></li>
        <li><%= link_to "Delete review", spot_review_path(@spot, review), method: :delete %></li>
      </ul>
    <% end %>

    <%= link_to "Home", spots_path %><br>
    <%= link_to "Edit a spot", edit_spot_path %><br>

    <%= link_to "Add a Review", new_spot_review_path(@spot) %>
  </div>
</div>
