<div class="large-12">
  <h1> <%= @spot.name %> </h1>
  <ul>
    <li>Description: <%= @spot.description %></li>
    <li>Category: <%= @spot.category %></li>
    <li>Address: <%= @spot.address %></li>
    <li>City: <%= @spot.city %></li>
    <li>State: <%= @spot.state %></li>
    <li>Zip Code: <%= @spot.zip_code %></li>
    <li>Website: <%= @spot.website_url %></li>
    <li>Photo: <%= @spot.photo_url %></li>
    <li>Phone: <%= @spot.phone %></li>
  </ul>

  <%= link_to "Home", spots_path %>
  <%= link_to "Edit", edit_spot_path %>

</center>
