<div class="row">
  <div class="large-12">
    <h1> <%= @spot.name %> </h1>
    <div class="panel">
      <span><b>Description:</b> <%= @spot.description %></span><br />
      <span><b>Category:</b> <%= @spot.category %></span><br />
      <span><b>Address:</b> <%= @spot.address %></span><br />
      <span><b>City:</b> <%= @spot.city %></span><br />
      <span><b>State:</b> <%= @spot.state %></span><br />
      <span><b>Zip Code:</b> <%= @spot.zip_code %></span><br />
      <span><b>Website:</b> <%= @spot.website_url %></span><br />
      <span><b>Photo:</b> <%= @spot.photo_url %></span><br />
      <span><b>Phone:</b> <%= @spot.phone %></span>
    </div>
    <%= link_to "Edit spot", edit_spot_path, class: "button radius" %>
    <%= link_to "Delete spot", spot_path(@spot), method: :delete, class: "button radius" %>

    <h2>Reviews!</h2>

    <% @reviews.each do |review| %>
      <div class="panel">
        <span><b>Rating:</b> <%= review.rating %></span><br />
        <p><b>Review:</b> <%= review.body %></p>
      <%= link_to "Edit review", edit_spot_review_path(@spot, review), class: "button tiny radius" %>
      <%= link_to "Delete review", spot_review_path(@spot, review), method: :delete, class: "button tiny radius" %>
      </div>
    <% end %>

    <%= link_to "Add a Review", new_spot_review_path(@spot), class: "button radius" %><br />
    <%= link_to "Home", spots_path, class: "button radius" %>

  </div>
</div>
