<h1>Rate <%= @spot.name %>!</h1>

  <%= form_for [@restaurant, @review] do |f| %>

  <% @ratings.each do |rating| %>

  <%= f.radio_button(:rating, rating) %>
  <%= f.label(:rating, "#{rating}") %>

  <% end %>

<p>
    <%= f.label :body %>
    <%= f.text_area :body %>
</p>
<%= f.hidden_field(:restaurant_id, value: params[:restaurant_id]) %>
<p>
    <%= f.submit "Add Review" %>
</p>
  <%- end -%>

<%= link_to "Back", restaurant_path(params[:restaurant_id]), id: 'to_restaurant_review' %>
