<h1>Rate <%= @spot.name %>!</h1>
<%= form_for [@spot, @review] do |f| %>

  <% @ratings.each do |rating| %>
    <%= f.radio_button(:rating, rating) %>
    <%= f.label(:rating, rating, value: rating) %>
    <%#= f.label(:rating, "#{rating}") %>
  <% end %>

  <%= f.label :body %>
  <%= f.text_area :body %>

  <%= f.submit "Add Review" %>
<% end %>
