<!DOCTYPE html>
<html>
<head>
  <title>StudyBuddy</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Oswald:700,300" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Karma:400,700" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">StudyBuddy</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <%- if current_user -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash <%= key %> alert-box" data-alert>
      <%= value %>
      <a href="#" class="close">&times;</a>
    </div>
  <%- end -%>

  <div class="row">
    <div class="column">
      <%= yield %>
    </div>
  </div>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>

  <footer class="footer">
    <div class="row full-width">
      <div class="small-12 medium-3 large-4 columns">
        <i class="fa fa-book"></i>
        <p>We set out to create a place we're people can go to find the best possible places to study, near them.
           This site is deigned to allow students to find those "hidden gems" in their area. Blah blah blah, blah blah blah.</p>
      </div>
      <div class="small-12 medium-3 large-4 columns">
      </div>
      <div class="small-12 medium-3 large-4 columns">
        <h4>Follow Us</h4>
        <ul class="footer-links">
          <li><a href="https://github.com/lfields90" target="_blank">LaMonte F.</a></li>
          <li><a href="https://github.com/awortham91" target="_blank">Andrew W.</a></li>
          <li><a href="https://github.com/NoraDelaney" target="_blank">Nora D.</a></li>
          <li><a href="https://github.com/syzygy333" target="_blank">Brain H.</a></li>
          <li><a href="https://github.com/lfields90/Study-Buddy">StudyBuddy GitHub</a></li>
        <ul>
      </div>
    </div>
  </footer>
  <script src="/js/vendor/jquery.js"></script>
  <script src="/js/vendor/fastclick.js"></script>
  <script src="/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
